.header-aside {
	background-color: var(--ts--header-aside-cl-bg);
	color: #FFFFFF;
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	top: var( --admin-bar-height );
	width: var(--ts--header-aside-width);
	z-index: 3;

	@include media(tablet-plus) {
		display: flex;
	}

	.drawer-toggle {
		display: flex;
		justify-content: center;
		width: 100%;
		background: transparent;
		color: inherit;
	}
	
	.drawer-toggle-inner {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		padding: 32px 0;
	}
}
