// Common style for amp and js drawer
.drawer-header {
	top: var( --admin-bar-height );
	width: 100%; /* 90vw; */
	max-width: 100vw; /* 90vw; */
	z-index: 2;

	@include media (tablet-plus) {
		width: 400px; //33%;
		// max-width: 400px;
		min-width: 25vw;
	}

	background-color: var(--ts--header-drawer-cl-bg);
	color: var(--ts--header-drawer-cl-text);
	overflow: auto;

	.drawer-header-inner {
		padding: 0 var(--ts--spacing-h);
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.drawer-toggle {
		display: flex;
		justify-content: flex-end;
		padding: 32px 0;
		background: transparent;
		color: inherit;
	}

	.drawer-body {
		flex-grow: 1;
	}
}

// Js driven drawer
.drawer-header-js {
	position: fixed;
	bottom: 0;
	overflow: auto;
	left: 0;
	opacity: 0;
	transform: translateX(-200%);
	transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}

// Open
.header-drawer-opened {
	.drawer-header-js {
		display: flex; //block;
		transform: none;
		opacity: 1;
		transition-timing-function: ease-out;
	}
}
amp-sidebar.drawer-header[open] {
	display: flex;
}

/* Header 2 */
.header-is-aside {
	@include media(tablet-plus) {
		.drawer-header {
			margin-left: var(--ts--header-aside-width);

			.drawer-header-inner {
				padding: 48px 32px 0 32px;
			}

			.drawer-toggle {
				display: none;
			}
		}
	}
}

/**
 * Drawer header toggle
 */
// .drawer-header-toggle {
// 	display: flex;
// 	align-items: center;
// 	background-color: transparent;
// 	color: inherit;

// 	&:hover,
// 	&:focus {
// 		background-color: transparent;
// 		color: inherit;
// 		text-decoration: none;
// 	}

// 	&:focus {
// 		outline-offset: 0;
// 	}

// 	svg {
// 		margin-right: 0.25rem;
// 	}
// }