.top-bar {
	background: transparent;
	padding: 20px 0;
}

.top-bar-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top-bar-end {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
}
