/*--------------------------------------------------------------
All menus
--------------------------------------------------------------*/

.menu,
.menu ul,
.menu li {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Hide every buttons and sub menus */
.menu button {
	display: none;
}

/*--------------------------------------------------------------
Horizontal menu
--------------------------------------------------------------*/

.horizontal-menu {
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: center;
	text-align: center;
}

/* 1rst level items */
.horizontal-menu > li {
	display: flex;
	align-items: center;

	> a {
		font-size: 1em;
		padding: 10px 12px;
	}
}

/* Hide every sub menus */
.horizontal-menu .sub-menu {
	display: none;
}

/*--------------------------------------------------------------
Dropdown horizontal menu
--------------------------------------------------------------*/

.horizontal-menu.is-dropdown {

	/* All items */
	li {
		position: relative;
	}

	/* Dropdown toggle of 1rst level items */
	& > li.menu-item-has-children {

		> .dropdown-toggle {
			display: flex;
			align-items: center;
		}

		> a {
			padding-right: 0;
		}
	}

	/* Sub menus */
	.sub-menu {
		position: absolute;
		opacity: 0;
		transition: opacity 0.2s;
		left: -9999px;
		z-index: 99999;

		> li {
			display: block;
			background-color: #fff;
		}

		a {
			color: #111;
			display: block;
			font-size: 0.9em;
			line-height: var(--ts--lh-heading, 1.2);
			padding: 0.75rem calc(24px + 1rem) 0.75rem 1rem;
		}
	}

	/* 1rst level sub menus */
	& > li > .sub-menu {
		padding-top: 12px;

		&:before { /* Triangle */
			border-style: solid;
			border-width: 0 8px 8px 8px;
			border-color: transparent transparent #fff transparent;
			content: "";
			display: inline-block;
			height: 0;
			left: 10px;
			position: absolute;
			top: 4px;
			width: 0;
		}
	}

	/* Dropdown toggle in sub menus */
	.sub-menu > li.menu-item-has-children .dropdown-toggle {
		display: block;
		position: absolute;
		transform: rotate(-90deg);
		top: 0;
		bottom: 0;
		right: 0.1rem;
		padding: 0.7rem;
		color: #111;
	}

	/* Show sub menus */
	.menu-item-has-children:hover > .sub-menu,
	.menu-item-has-children:focus > .sub-menu {
		display: block;
		float: none;
		margin-top: 0;
		opacity: 1;
		position: absolute;
		left: 0;
		right: auto;
		top: 100%;
		bottom: auto;
		height: auto;
		transform: none;
		width: 12.5rem;
	}

	.sub-menu .menu-item-has-children:hover > .sub-menu,
	.sub-menu .menu-item-has-children:focus > .sub-menu {
		left: 100%;
		top: 0;
	}

	.menu-item-has-children:focus-within > .sub-menu { /*:focus-within needs its own selector so other similar selectors don’t get ignored if a browser doesn’t recognize it */
		display: block;
		float: none;
		margin-top: 0;
		opacity: 1;
		position: absolute;
		left: 0;
		right: auto;
		top: 100%;
		bottom: auto;
		height: auto;
		transform: none;
		width: 12.5rem;
	}

	.sub-menu .menu-item-has-children:focus-within > .sub-menu {
		left: 100%;
		top: 0;
	}

}
