@charset "UTF-8";
.in-sub-panel #customize-theme-controls .customize-pane-child.current-panel-parent {
  transform: translateX(-100%);
}

.control-section-collapse-parent {
  overflow: hidden !important;
}

.control-section-collapse {
  position: static !important;
  transform: none !important;
  transition: height 200ms ease !important;
  border-bottom: none !important;
  overflow: hidden !important;
}
.control-section-collapse.customize-pane-child {
  padding: 0 12px !important;
}
.control-section-collapse.customize-pane-child > li:nth-child(2) {
  margin-top: 12px;
}
.control-section-collapse .accordion-section-title::after {
  content: "" !important;
}
.control-section-collapse.expanded .accordion-section-title::after {
  content: "" !important;
}
.control-section-collapse .customize-section-description-container {
  display: none;
}

#customize-theme-controls .control-section-theme_slug_expanded_section .accordion-section-title {
  display: none;
}
#customize-theme-controls .control-section-theme_slug_expanded_section .customize-section-back {
  display: none;
}
#customize-theme-controls .customize-pane-child.control-section-theme_slug_expanded_section {
  position: relative;
  visibility: visible;
  height: auto;
  margin-left: -100%;
  border-top: none !important;
}
#customize-theme-controls .customize-pane-child.control-section-theme_slug_expanded_section h3 .customize-action {
  display: none;
}
#customize-theme-controls .customize-pane-child.control-section-theme_slug_expanded_section .customize-section-title {
  display: none;
}

.themeslug-control-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
}
.themeslug-control-bar .customize-control-title {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.themeslug-control-bar .side-control {
  margin-left: 8px;
  display: flex;
}
.themeslug-control-bar .themeslug-reset {
  padding: 0 8px;
  font-size: 11px;
  color: #007CBA;
  color: var(--wp-admin-theme-color, #007CBA);
  background: transparent;
  border: none;
  box-shadow: inset 0 0 0 1px #007CBA;
  box-shadow: inset 0 0 0 1px var(--wp-admin-theme-color, #007CBA);
  outline: 1px solid transparent;
}

.themeslug-multiselect .token {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #efefef;
  color: #333;
  padding: 3px 5px 3px 10px;
  margin: 0 5px 5px 0;
  border-radius: 20px;
  border: none;
}
.themeslug-multiselect .token:hover {
  background-color: #6EB77A;
  color: #FFF;
}
.themeslug-multiselect .token .title {
  margin-right: 5px;
}
.themeslug-multiselect .token svg {
  fill: currentColor;
}
.themeslug-multiselect .selected-options {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 5px 0 5px;
  flex-wrap: wrap;
}
.themeslug-multiselect .selected-options .placeholder {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #555;
  margin-bottom: 5px;
}
.themeslug-multiselect .selected-options .token:hover {
  background-color: #EC7C7C;
  color: #fff;
}
.themeslug-multiselect .available-options {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
