#start-resizable-editor-section {
  display: none;
}

:root {
  --ts--spacing-unit: 20px;
  --ts--spacing-h: 20px;
  --ts--spacing-v: 25px;
  --ts--spacing-v-responsive: calc(0.666 * var(--ts--spacing-v));
  --ts--spacing-h-responsive: calc(0.666 * var(--ts--spacing-h));
  --ts--content-width: 610px;
  --ts--wide-width: 1240px;
  --ts--aligncontent-width: min(calc(100% - 2 * var(--ts--spacing-h-responsive)), var(--ts--content-width));
  --ts--alignwide-width: min(calc(100% - 2 * var(--ts--spacing-h-responsive)), var(--ts--wide-width));
  --ts--alignright-margin: calc(0.5 * (100% - var(--ts--aligncontent-width)));
  --ts--alignleft-margin: calc(0.5 * (100% - var(--ts--aligncontent-width)));
  --ts--fs-base: 18px;
  --ts--cl-bg: #FFFFFF;
  --ts--header-drawer-cl-bg: #1E2D32;
  --ts--header-drawer-cl-text: #FFFFFF;
  --ts--header-aside-width: 64px;
  --ts--header-aside-cl-bg: var(--ts--header-drawer-cl-bg);
  --admin-bar-height: 0;
}
@media (min-width: 600px) {
  :root {
    --ts--spacing-v-responsive: var(--ts--spacing-v);
    --ts--spacing-h-responsive: var(--ts--spacing-h);
  }
}
@media (min-width: 1025px) {
  :root {
    --ts--header-aside-width: 100px;
  }
}

.admin-bar {
  --admin-bar-height: 32px;
}
@media only screen and (max-width: 782px) {
  .admin-bar {
    --admin-bar-height: 46px;
  }
}

.editor-styles-wrapper[class] {
  font-size: 18px;
  font-size: var(--ts--fs-base);
  background-color: #FFFFFF;
  background-color: var(--ts--cl-bg);
}

.block-editor-block-list__layout.is-root-container > * {
  max-width: min(calc(100% - 2 * calc(0.666 * 20px)), 610px);
  max-width: var(--ts--aligncontent-width);
  margin-left: auto;
  margin-right: auto;
}

#end-resizable-editor-section {
  display: none;
}
