:root {
  --ts--spacing-unit: 20px;
  --ts--spacing-h: 20px;
  --ts--spacing-v: 25px;
  --ts--spacing-v-responsive: calc(0.666 * var(--ts--spacing-v));
  --ts--spacing-h-responsive: calc(0.666 * var(--ts--spacing-h));
  --ts--content-width: 610px;
  --ts--wide-width: 1240px;
  --ts--aligncontent-width: min(calc(100% - 2 * var(--ts--spacing-h-responsive)), var(--ts--content-width));
  --ts--alignwide-width: min(calc(100% - 2 * var(--ts--spacing-h-responsive)), var(--ts--wide-width));
  --ts--alignright-margin: calc(0.5 * (100% - var(--ts--aligncontent-width)));
  --ts--alignleft-margin: calc(0.5 * (100% - var(--ts--aligncontent-width)));
  --ts--fs-base: 18px;
  --ts--cl-bg: #FFFFFF;
  --ts--header-drawer-cl-bg: #1E2D32;
  --ts--header-drawer-cl-text: #FFFFFF;
  --ts--header-aside-width: 64px;
  --ts--header-aside-cl-bg: var(--ts--header-drawer-cl-bg);
  --admin-bar-height: 0;
}
@media (min-width: 600px) {
  :root {
    --ts--spacing-v-responsive: var(--ts--spacing-v);
    --ts--spacing-h-responsive: var(--ts--spacing-h);
  }
}
@media (min-width: 1025px) {
  :root {
    --ts--header-aside-width: 100px;
  }
}

.admin-bar {
  --admin-bar-height: 32px;
}
@media only screen and (max-width: 782px) {
  .admin-bar {
    --admin-bar-height: 46px;
  }
}

html,
body {
  border: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
  border: none;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

blockquote:before,
blockquote:after {
  content: "";
}

body {
  font-size: 18px;
  font-size: var(--ts--fs-base);
  background-color: #FFFFFF;
  background-color: var(--ts--cl-bg);
}

/**
 * Accessibility
 */
@media (prefers-reduced-motion: reduce), (update: slow) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0 !important;
            animation-duration: 0 !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0 !important;
  }
}
/* Screen Reader Text */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Skip Link */
.skip-link {
  left: -9999rem;
  top: 2.5rem;
  z-index: 999999999;
}

.skip-link:focus {
  left: 6px;
  top: 7px;
  text-decoration: none;
  right: auto;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

.align-container > * {
  max-width: min(calc(100% - 2 * calc(0.666 * 20px)), 610px);
  max-width: var(--ts--aligncontent-width);
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes themeslugfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes themeslugfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes themeslugfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes themeslugfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes themeslugslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes themeslugslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes themeslugslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
@keyframes themeslugslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
@-webkit-keyframes themeslugslideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes themeslugslideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes themeslugslideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes themeslugslideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.vis-false {
  display: none !important;
}

@media (max-width: 599px) {
  .mobile-vis-false {
    display: none !important;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .tablet-vis-false {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .desktop-vis-false {
    display: none !important;
  }
}

html.has-modal-open {
  overflow: hidden;
}

[data-micromodal-close] svg {
  pointer-events: none;
}

/*--------------------------------------------------------------
All menus
--------------------------------------------------------------*/
.menu,
.menu ul,
.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Hide every buttons */
/*--------------------------------------------------------------
Horizontal menu
--------------------------------------------------------------*/
.horizontal-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

/* 1rst level items */
.horizontal-menu > li {
  display: flex;
  align-items: center;
}
.horizontal-menu > li > a {
  font-size: 1em;
  padding: 10px 12px;
}

/* Hide every sub menus */
.horizontal-menu .sub-menu {
  display: none;
}

/*--------------------------------------------------------------
Vertical menu
--------------------------------------------------------------*/
.vertical-menu a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: currentColor;
}
.vertical-menu a:hover {
  text-decoration: underline;
}
.vertical-menu li.current-menu-item > a,
.vertical-menu li.current-menu-item > header > a {
  text-decoration: underline;
}
.vertical-menu .dropdown-toggle {
  background: transparent;
  color: currentColor;
}

/* Sub menus */
.vertical-menu ul {
  margin-left: 1rem;
}

/*--------------------------------------------------------------
Dropdown vertical menu
--------------------------------------------------------------*/
.vertical-menu.is-dropdown .menu-item-has-children ul {
  display: none;
}
.vertical-menu.is-dropdown .menu-item-has-children [expanded] > ul {
  display: block;
}

@media (min-width: 600px) {
  .header-is-aside .site {
    margin-left: 64px;
    margin-left: var(--ts--header-aside-width);
  }
}

.drawer-header {
  background: transparent;
  display: none;
  position: fixed;
  top: 0;
  top: var(--admin-bar-height);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.drawer-header.is-modal-open {
  display: flex;
}

amp-sidebar.drawer-header-amp {
  max-width: 100vw;
}
@media (max-width: 599px) {
  amp-sidebar.drawer-header-amp {
    width: 100%;
  }
}

.drawer-header__overlay {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  content: "";
  display: block;
}

.amp-sidebar-mask {
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.drawer-header__container {
  background-color: #1E2D32;
  background-color: var(--ts--header-drawer-cl-bg);
  color: #FFFFFF;
  color: var(--ts--header-drawer-cl-text);
  width: 100%;
  height: 100%;
  max-width: 100vw;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 calc(0.666 * 25px);
  padding: 0 var(--ts--spacing-v-responsive);
}
@media (min-width: 600px) {
  .drawer-header__container {
    width: 400px;
    min-width: 25vw;
  }
}
.drawer-header__container .drawer-toggle {
  cursor: pointer;
  position: relative;
  background: transparent;
  color: currentColor;
  display: flex;
  justify-content: flex-end;
  padding: 32px 0;
}
.drawer-header__container .drawer-toggle:before {
  background: currentColor;
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  right: -12px;
  top: 25%;
  width: 48px;
  height: 48px;
  opacity: 0;
  transition: opacity 0.15s linear;
}
.drawer-header__container .drawer-toggle:hover:before, .drawer-header__container .drawer-toggle:focus:before {
  opacity: 0.1;
}
.drawer-header__container .drawer-body {
  flex-grow: 1;
}
.drawer-header__container .drawer-footer {
  flex-shrink: 0;
  padding: 40px 0;
}

.drawer-header[aria-hidden=false] .drawer-header__overlay {
  -webkit-animation: themeslugfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.drawer-header[aria-hidden=false] .drawer-header__container {
  -webkit-animation: themeslugslideInLeft 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugslideInLeft 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.drawer-header[aria-hidden=true] .drawer-header__overlay {
  -webkit-animation: themeslugfadeOut 0.1s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugfadeOut 0.1s cubic-bezier(0, 0, 0.2, 1);
}
.drawer-header[aria-hidden=true] .drawer-header__container {
  -webkit-animation: themeslugslideOutLeft 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugslideOutLeft 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.drawer-nav {
  font-size: 21px;
}
@media (min-width: 600px) {
  .drawer-nav {
    font-size: 24px;
  }
}
.drawer-nav li:before,
.drawer-nav .vertical-menu > li:last-child:after {
  background: currentColor;
  content: "";
  display: block;
  height: 1px;
  opacity: 0.1;
  width: 100%;
}
.drawer-nav header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drawer-nav a {
  padding: 20px 0;
}
.drawer-nav .dropdown-toggle {
  position: relative;
  padding: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.drawer-nav .dropdown-toggle:before {
  background: currentColor;
  content: "";
  display: block;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.15s linear;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 48px;
  height: 48px;
}
.drawer-nav .dropdown-toggle:hover:before, .drawer-nav .dropdown-toggle:focus:before {
  opacity: 0.1;
}
.drawer-nav .dropdown-toggle svg {
  transition: transform 0.15s linear;
}
.drawer-nav [expanded] > header > .dropdown-toggle svg {
  transform: rotate(180deg);
}
.drawer-nav amp-accordion header {
  padding: 0;
  background-color: transparent;
  border: none;
}
.drawer-nav amp-accordion .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-aside {
  background-color: #1E2D32;
  background-color: var(--ts--header-aside-cl-bg);
  color: #FFFFFF;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  top: var(--admin-bar-height);
  width: 64px;
  width: var(--ts--header-aside-width);
  z-index: 3;
}
@media (min-width: 600px) {
  .header-aside {
    display: flex;
  }
}
.header-aside .drawer-toggle {
  display: flex;
  justify-content: center;
  width: 100%;
  background: transparent;
  color: inherit;
}
.header-aside .drawer-toggle-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 32px 0;
}

.top-bar {
  background: transparent;
  padding: 20px 0;
}

.top-bar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.branding-identity {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.search-modal.is-modal-open {
  display: block;
}

.search-modal__inner {
  position: fixed;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.search-modal__container {
  position: relative;
  background-color: #FFFFFF;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
}

.search-modal[aria-hidden=false] .search-modal__overlay {
  -webkit-animation: themeslugfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.search-modal[aria-hidden=false] .search-modal__container {
  -webkit-animation: themeslugslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.search-modal[aria-hidden=true] .search-modal__overlay {
  -webkit-animation: themeslugfadeOut 0.1s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugfadeOut 0.1s cubic-bezier(0, 0, 0.2, 1);
}
.search-modal[aria-hidden=true] .search-modal__container {
  -webkit-animation: themeslugfadeOut 0.1s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugfadeOut 0.1s cubic-bezier(0, 0, 0.2, 1);
  -webkit-animation: themeslugslideOut 0.1s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugslideOut 0.1s cubic-bezier(0, 0, 0.2, 1);
}
