@charset "UTF-8";
:root {
  --ts--spacing-unit: 20px;
  --ts--spacing-h: 20px;
  --ts--spacing-v: 25px;
  --ts--spacing-v-responsive: calc(0.666 * var(--ts--spacing-v));
  --ts--spacing-h-responsive: calc(0.666 * var(--ts--spacing-h));
  --ts--content-width: 610px;
  --ts--wide-width: 1240px;
  --ts--aligncontent-width: min(calc(100% - 2 * var(--ts--spacing-h-responsive)), var(--ts--content-width));
  --ts--alignwide-width: min(calc(100% - 2 * var(--ts--spacing-h-responsive)), var(--ts--wide-width));
  --ts--alignright-margin: calc(0.5 * (100% - var(--ts--aligncontent-width)));
  --ts--alignleft-margin: calc(0.5 * (100% - var(--ts--aligncontent-width)));
  --ts--fs-base: 18px;
  --ts--cl-bg: #FFFFFF;
  --ts--header-drawer-cl-bg: #1E2D32;
  --ts--header-drawer-cl-text: #FFFFFF;
  --ts--header-aside-width: 64px;
  --ts--header-aside-cl-bg: var(--ts--header-drawer-cl-bg);
  --admin-bar-height: 0;
}
@media (min-width: 600px) {
  :root {
    --ts--spacing-v-responsive: var(--ts--spacing-v);
    --ts--spacing-h-responsive: var(--ts--spacing-h);
  }
}
@media (min-width: 1025px) {
  :root {
    --ts--header-aside-width: 100px;
  }
}

.admin-bar {
  --admin-bar-height: 32px;
}
@media only screen and (max-width: 782px) {
  .admin-bar {
    --admin-bar-height: 46px;
  }
}

html,
body {
  border: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
  border: none;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
}

blockquote:before,
blockquote:after {
  content: "";
}

body {
  font-size: 18px;
  font-size: var(--ts--fs-base);
  background-color: #FFFFFF;
  background-color: var(--ts--cl-bg);
}

/**
 * Accessibility
 */
@media (prefers-reduced-motion: reduce), (update: slow) {
  *,
*::before,
*::after {
    -webkit-animation-duration: 0 !important;
            animation-duration: 0 !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0 !important;
  }
}
/* Screen Reader Text */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  word-break: normal;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  right: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Skip Link */
.skip-link {
  left: -9999rem;
  top: 2.5rem;
  z-index: 999999999;
}

.skip-link:focus {
  left: 6px;
  top: 7px;
  text-decoration: none;
  right: auto;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

.align-container > * {
  max-width: min(calc(100% - 2 * calc(0.666 * 20px)), 610px);
  max-width: var(--ts--aligncontent-width);
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes themeslugfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes themeslugfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes themeslugfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes themeslugfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes themeslugslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes themeslugslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes themeslugslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
@keyframes themeslugslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
@-webkit-keyframes themeslugslideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes themeslugslideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes themeslugslideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes themeslugslideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.vis-false {
  display: none !important;
}

@media (max-width: 599px) {
  .mobile-vis-false {
    display: none !important;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .tablet-vis-false {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .desktop-vis-false {
    display: none !important;
  }
}

html.has-modal-open {
  overflow: hidden;
}

[data-micromodal-close] svg {
  pointer-events: none;
}

/*--------------------------------------------------------------
All menus
--------------------------------------------------------------*/
.menu,
.menu ul,
.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Hide every buttons and sub menus */
.menu button {
  display: none;
}

/*--------------------------------------------------------------
Horizontal menu
--------------------------------------------------------------*/
.horizontal-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

/* 1rst level items */
.horizontal-menu > li {
  display: flex;
  align-items: center;
}
.horizontal-menu > li > a {
  font-size: 1em;
  padding: 10px 12px;
}

/* Hide every sub menus */
.horizontal-menu .sub-menu {
  display: none;
}

/*--------------------------------------------------------------
Dropdown horizontal menu
--------------------------------------------------------------*/
.horizontal-menu.is-dropdown {
  /* All items */
  /* Dropdown toggle of 1rst level items */
  /* Sub menus */
  /* 1rst level sub menus */
  /* Dropdown toggle in sub menus */
  /* Show sub menus */
}
.horizontal-menu.is-dropdown li {
  position: relative;
}
.horizontal-menu.is-dropdown > li.menu-item-has-children > .dropdown-toggle {
  display: flex;
  align-items: center;
}
.horizontal-menu.is-dropdown > li.menu-item-has-children > a {
  padding-right: 0;
}
.horizontal-menu.is-dropdown .sub-menu {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
  left: -9999px;
  z-index: 99999;
}
.horizontal-menu.is-dropdown .sub-menu > li {
  display: block;
  background-color: #fff;
}
.horizontal-menu.is-dropdown .sub-menu a {
  color: #111;
  display: block;
  font-size: 0.9em;
  line-height: 1.2;
  line-height: var(--ts--lh-heading, 1.2);
  padding: 0.75rem calc(24px + 1rem) 0.75rem 1rem;
}
.horizontal-menu.is-dropdown > li > .sub-menu {
  padding-top: 12px;
}
.horizontal-menu.is-dropdown > li > .sub-menu:before {
  /* Triangle */
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #fff transparent;
  content: "";
  display: inline-block;
  height: 0;
  left: 10px;
  position: absolute;
  top: 4px;
  width: 0;
}
.horizontal-menu.is-dropdown .sub-menu > li.menu-item-has-children .dropdown-toggle {
  display: block;
  position: absolute;
  transform: rotate(-90deg);
  top: 0;
  bottom: 0;
  right: 0.1rem;
  padding: 0.7rem;
  color: #111;
}
.horizontal-menu.is-dropdown .menu-item-has-children:hover > .sub-menu,
.horizontal-menu.is-dropdown .menu-item-has-children:focus > .sub-menu {
  display: block;
  float: none;
  margin-top: 0;
  opacity: 1;
  position: absolute;
  left: 0;
  right: auto;
  top: 100%;
  bottom: auto;
  height: auto;
  transform: none;
  width: 12.5rem;
}
.horizontal-menu.is-dropdown .sub-menu .menu-item-has-children:hover > .sub-menu,
.horizontal-menu.is-dropdown .sub-menu .menu-item-has-children:focus > .sub-menu {
  left: 100%;
  top: 0;
}
.horizontal-menu.is-dropdown .menu-item-has-children:focus-within > .sub-menu {
  /*:focus-within needs its own selector so other similar selectors don’t get ignored if a browser doesn’t recognize it */
  display: block;
  float: none;
  margin-top: 0;
  opacity: 1;
  position: absolute;
  left: 0;
  right: auto;
  top: 100%;
  bottom: auto;
  height: auto;
  transform: none;
  width: 12.5rem;
}
.horizontal-menu.is-dropdown .sub-menu .menu-item-has-children:focus-within > .sub-menu {
  left: 100%;
  top: 0;
}

@media (min-width: 600px) {
  .header-is-aside .site {
    margin-left: 64px;
    margin-left: var(--ts--header-aside-width);
  }
}

.drawer-header {
  background: transparent;
  display: none;
  position: fixed;
  top: 0;
  top: var(--admin-bar-height);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.drawer-header.is-modal-open {
  display: block;
}

.drawer-header__overlay {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  content: "";
  display: block;
}

.amp-sidebar-mask {
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.drawer-header__container {
  background-color: #1E2D32;
  background-color: var(--ts--header-drawer-cl-bg);
  color: #FFFFFF;
  color: var(--ts--header-drawer-cl-text);
  width: 100%;
  max-width: 100vw;
  overflow: auto;
  position: relative;
  max-height: 100vh;
  height: 100vh;
}
@media (min-width: 600px) {
  .drawer-header__container {
    width: 400px;
    min-width: 25vw;
  }
}

.drawer-header[aria-hidden=false] .drawer-header__overlay {
  -webkit-animation: themeslugfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.drawer-header[aria-hidden=false] .drawer-header__container {
  -webkit-animation: themeslugslideInLeft 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugslideInLeft 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.drawer-header[aria-hidden=true] .drawer-header__overlay {
  -webkit-animation: themeslugfadeOut 0.1s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugfadeOut 0.1s cubic-bezier(0, 0, 0.2, 1);
}
.drawer-header[aria-hidden=true] .drawer-header__container {
  -webkit-animation: themeslugslideOutLeft 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugslideOutLeft 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.header-aside {
  background-color: #1E2D32;
  background-color: var(--ts--header-aside-cl-bg);
  color: #FFFFFF;
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  top: var(--admin-bar-height);
  width: 64px;
  width: var(--ts--header-aside-width);
  z-index: 3;
}
@media (min-width: 600px) {
  .header-aside {
    display: flex;
  }
}
.header-aside .drawer-toggle {
  display: flex;
  justify-content: center;
  width: 100%;
  background: transparent;
  color: inherit;
}
.header-aside .drawer-toggle-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
}

.drawer-toggle .bars {
  position: relative;
  width: 20px;
  height: 14px;
}
.drawer-toggle .bar {
  display: block;
  background-color: currentColor;
  height: 2px;
  position: absolute;
  width: 100%;
  right: 0;
  top: calc( 50% - 1px );
}
.drawer-toggle .bar:nth-child(1) {
  transform: translateY(-7px);
}
.drawer-toggle .bar:nth-child(3) {
  transform: translateY(7px);
}

.top-bar {
  background: transparent;
  padding: 20px 0;
}

.top-bar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.branding-identity {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.search-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}

.search-modal.is-modal-open {
  display: block;
}

.search-modal__inner {
  position: fixed;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.search-modal__container {
  position: relative;
  background-color: #FFFFFF;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
}

.search-modal[aria-hidden=false] .search-modal__overlay {
  -webkit-animation: themeslugfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.search-modal[aria-hidden=false] .search-modal__container {
  -webkit-animation: themeslugslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.search-modal[aria-hidden=true] .search-modal__overlay {
  -webkit-animation: themeslugfadeOut 0.1s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugfadeOut 0.1s cubic-bezier(0, 0, 0.2, 1);
}
.search-modal[aria-hidden=true] .search-modal__container {
  -webkit-animation: themeslugfadeOut 0.1s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugfadeOut 0.1s cubic-bezier(0, 0, 0.2, 1);
  -webkit-animation: themeslugslideOut 0.1s cubic-bezier(0, 0, 0.2, 1);
          animation: themeslugslideOut 0.1s cubic-bezier(0, 0, 0.2, 1);
}
