:root {
	// --Global Spacing--
	--ts--spacing-unit: #{2 * $baseline-unit}; // 20px
	--ts--spacing-h: #{2 * $baseline-unit}; // 20px
	--ts--spacing-v: #{2.5 * $baseline-unit}; // 35px.
	--ts--spacing-v-responsive: calc(0.666 * var(--ts--spacing-v));
	--ts--spacing-h-responsive: calc(0.666 * var(--ts--spacing-h));
	@include media(tablet-plus) {
		--ts--spacing-v-responsive: var(--ts--spacing-v);
		--ts--spacing-h-responsive: var(--ts--spacing-h);
	}

	// --Global Alignments--
	--ts--content-width: 610px;
	--ts--wide-width: 1240px;

	--ts--aligncontent-width: min(calc(100% - 2 * var(--ts--spacing-h-responsive)), var(--ts--content-width));
	--ts--alignwide-width: min(calc(100% - 2 * var(--ts--spacing-h-responsive)), var(--ts--wide-width));
	--ts--alignright-margin: calc(0.5 * (100% - var(--ts--aligncontent-width)));
	--ts--alignleft-margin: calc(0.5 * (100% - var(--ts--aligncontent-width)));

	--ts--fs-base: 18px;
	--ts--cl-bg: #FFFFFF;

	//
	// Classic theme
	//
	
	// Header
	--ts--header-drawer-cl-bg: #1E2D32;
	--ts--header-drawer-cl-text: #FFFFFF;
	--ts--header-aside-width: 64px;
	--ts--header-aside-cl-bg: var(--ts--header-drawer-cl-bg);
	@include media(desktop) {
		--ts--header-aside-width: 100px;
	}

	// Admin-bar height
	--admin-bar-height: 0;
}

// Admin bar
.admin-bar {
	--admin-bar-height: 32px;

	@media only screen and (max-width: 782px) {
		--admin-bar-height: 46px;
	}
}